<%= render :partial => 'spree/shared/nav_bar' %>



			<!-- Header Starts -->
			<header id="header" data-hook>
				<div class="group">
					<div class="row">
						<div class="col-md-2">
							<div class="logo">
                                <a id="textual" href="http://demo.yithemes.com/bazar" title="Bazar [SHOP]"><%= logo %></a>
                                <p id="tagline">Everymedia purification and cultivation, shop living.</p> 
							</div>
						</div>
						<div id="header-cart-search" class="col-md-5 pull-left">
                            <%= render :partial => 'spree/shared/search' %>
						</div>
                        
                        
                        <div class="cart-row group col-md-5">
                        <!-- START HEADER SIDEBAR -->
                            <div id="header-sidebar" class="row">                                                     
                                <div id="text-image-2" class="widget text-image col-md-6">
                                    <div class="text-image" style="text-align:left">
                                        <i class="icon-camera-retro"></i>
                                    </div>
                                    <h3>ANOTHER WIDGET</h3>
                                    <p>ADD ICON AND TEXT</p>
                                </div>
            
                                <div id="text-image-3" class="widget text-image col-md-6">
                                    <div class="text-image" style="text-align:left">
                                    <i class="icon-camera-retro"></i>
                                    </div>
                                    <h3>CUSTOMER SUPPORT</h3>
                                    <p>+ 39 097 372659</p>
                                </div>
                            
                                <div id="text-2" class="widget-last widget widget_text col-md-12">			
                                    <div class="cart-items cart-items-icon">
                                        <span class="cart-items-number"><i class="icon-shopping-cart"></i> </span>
                                        <% if current_order.nil? or current_order.item_count.zero? %>
                                            <span class="cart-items-label"><%= Spree.t('empty') %>
                                            </span>

                                        <% else %>
                                            <span class="cart-items-number"> <%= current_order.item_count %></span>
                                            <span class="cart-items-label">Items</span>
                                        <% end %>
                                    </div>
                                </div>
				
                    </div> <!-- row Ends -->

                
                </div> <!-- group Ends -->
			</header> <!-- Header Ends -->
			


<hr />